<pre id="loading">
  <div class="loader">
    <div class="gears">
      <div class="largest-gear"><span>&#9881;</span></div>
      <div class="lg-gear"><span>&#9881;</span></div>
      <div class="sm-gear"><span>&#9881;</span></div>
    </div>
  </div>
</pre>
